/* PLACEHOLDERS */


// HIDE INPUTS TYPE CHECKBOX AND RADIO
%hideCheckbox {
	display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


// CENTER POSITION
%centerPos {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


// WIDTH
%width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


// WIDTH LIMITS FOR CONTAINERS 
%paddingLimit {
    padding-left: 30px;
    padding-right: 30px;
    @include mq(mob) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

%widthLimitM {
    @extend %width100;
    max-width: $widthLimitM;
    @extend %paddingLimit;
}

%widthLimit {
    @extend %width100;
    max-width: $widthLimit;
    @extend %paddingLimit;
}