/* CONTAINER */


.container {
    width: 100%;
    &--general {
        overflow: hidden;
    }
    &--limit {
        max-width: 1200px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}


.exampleBg {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background: url("../img/beach.jpg");
}