/* FOOTER */


.footer {
    @include flex;
    width: 100%;
    &__container {
        @include flex;
        @extend %widthLimit;
    }
    &__top, &__bottom {
        @include flex;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        @include mq(mob){
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    &__bottom {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 65px;
        @include mq(mob) {
            padding-top: 15px;
            padding-bottom: 50px;
        }
    }
    &__text {
        font-size: toRem(13);
        letter-spacing: 2px;
        color: $lGray;
    }
}