/* HEADER */
.header {
    width: 100%;
    background: $white;
    position: fixed;
    z-index: +10;
    &__container {
        @include flex(flex-start);
        @extend %widthLimitM;
        height: auto;
        min-height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        @include mq(deskS) {
            min-height: 80px;
        }
        @include mq(lapS2) {
            min-height: 60px;
        }
        @include mq(mob) {
            min-height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    & + * {
        margin-top: 100px;
        @include mq(deskS) {
            margin-top: 80px;
        }
        @include mq(lapS2) {
            margin-top: 60px;
        }
        @include mq(mob) {
            margin-top: 52px;
        }
    }
}

// LOGO
.logo {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    line-height: 0;
    position: relative;
    z-index: +12;
    @include mq(desk) {
        max-width: 150px;
    }
    &__img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

// NAV
.nav {
    @include flex(flex-end);
    width: auto;
    margin-left: auto;
    @include transition;
    &__list, &__Navlist {
        @include flex;
        &__item {
            margin-right: 10px;
            @include mq(lapS2) {
                margin-right: 8px;
            }
        }
        &__link {
            @include flex($d:inline-flex);
            padding: 12px 24px;
            font-size: toRem(14);
            letter-spacing: 2px;
            color: $gray;
            @include transition;
            &:hover, &.active {
                background: $brandMain;
                color: $white;
            }
            @include mq(lapS2) {
                padding: 10px 20px;
            }
            @include mq(tab) {
                padding: 10px 16px;
            }
        }
    }
    &--main {
        @include mq(mob){
            width: 100%;
            height: 100vh;
            background: $white;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-20px);
            z-index: +10;
            &.active {
                opacity: 1;
                pointer-events: all;
                transform: translateY(0);
            }
            .nav {
                @include flex;
                &__list {
                    @include flex;
                    width: 100%;
                    &__item {
                        @include flex;
                        width: 100%;
                        max-width: 500px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 10px;
                    }
                    &__link {
                        width: auto;
                        background: transparent;
                        &:hover {
                            color: $gray;
                            background: transparent;
                        }
                        &.active {
                            font-size: toRem(18);
                            color: $brandMain;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

// SEARCH BAR
.searchBar {
    @include mq(mob){
        @include flex;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__form {
        display: none;
    }
    &__btn {
        width: 20px;
        height: 20px;
        object-fit: contain;
        cursor: pointer;
    }
}