/* LAYOUTS */

// DISPLAY
.dF {
	@include flex;
}
.dIF {
	@include flex($d:inline-flex);
}
.dB {
	display: block;
}
.dIB {
	display: inline-block;
}

// FLEX
.jcC {
	justify-content: center;
}
.jcFS {
	justify-content: flex-start;
}
.jcFE {
	justify-content: flex-end;
}
.aiFS {
	align-items: flex-start;
	align-content: flex-start;
}
.aiC {
	align-items: center;
	align-content: center;
}
@include mq(mob){
	.jcMC {
		justify-content: center;
	}
	.jcMFS {
		justify-content: flex-start;
	}
	.jcMFE {
		justify-content: flex-end;
	}
	.aiMFS {
		align-items: flex-start;
		align-content: flex-start;
	}
	.aiMC {
		align-items: center;
		align-content: center;
	}
}

// SIZES
.w100 {
	width: 100%;
}

.max600 {
	max-width: 600px;
}
.max200 {
	max-width: 200px;
}
.max150 {
	max-width: 150px;
}
.max100 {
	max-width: 100px;
}

// MARGIN AND PADDINGS
@for $i from 0 through 20 {
	$value: $i * 5;
	// Margin
	.m#{$value}{
		margin: #{$value}px;
	}
	.mt#{$value}{
		margin-top: #{$value}px;
	}
	.mb#{$value}{
		margin-bottom: #{$value}px;
	}
	.mr#{$value}{
		margin-right: #{$value}px;
	}
	.ml#{$value}{
		margin-left: #{$value}px;
	}
	// Padding
	.p#{$value}{
		padding: #{$value}px;
	}
	.pt#{$value}{
		padding-top: #{$value}px;
	}
	.pb#{$value}{
		padding-bottom: #{$value}px;
	}
	.pr#{$value}{
		padding-right: #{$value}px;
	}
	.pl#{$value}{
		padding-left: #{$value}px;
	}
}

@for $i from 0 through 10 {
	$value: $i * 5;
	// Margins
	.mM#{$value}{
		@include mq(mob){
			margin: #{$value}px;
		}
	}
	.mtM#{$value}{
		@include mq(mob){
			margin-top: #{$value}px;
		}
	}
	.mbM#{$value}{
		@include mq(mob){
			margin-bottom: #{$value}px;
		}
	}
	.mlM#{$value}{
		@include mq(mob){
			margin-left: #{$value}px;
		}
	}
	.mrM#{$value}{
		@include mq(mob){
			margin-right: #{$value}px;
		}
	}
	// Paddings
	.pM#{$value}{
		@include mq(mob){
			padding: #{$value}px;
		}
	}
	.ptM#{$value}{
		@include mq(mob){
			padding-top: #{$value}px;
		}
	}
	.pbM#{$value}{
		@include mq(mob){
			padding-bottom: #{$value}px;
		}
	}
	.plM#{$value}{
		@include mq(mob){
			padding-left: #{$value}px;
		}
	}
	.prM#{$value}{
		@include mq(mob){
			padding-right: #{$value}px;
		}
	}
}
.mtA {
	margin-top: auto;
}
.mlA {
	margin-left: auto;
}
.mrA {
	margin-right: auto;
}
.mbA {
	margin-bottom: auto;
}
@include mq(mob){
	.mtMA {
		margin-top: auto;
	}
	.mlMA {
		margin-left: auto;
	}
	.mrMA {
		margin-right: auto;
	}
	.mbMA {
		margin-bottom: auto;
	}
}