/* VARIABLES */

// MEDIAQUERIES
$mediaqueries: (
	hover: "(hover: hover)",
	ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
	safari: "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
	safari2: "not all and (min-resolution:.001dpcm)",
	mobS3: 360,
	mobS2: 480,
	mobS: 640,
	mob: 767,
	tabS: 820,
	tab: 991,
	lapS3: 1024,
	lapS2: 1199,
	lapS: 1280,
	lap: 1367,
	deskS: 1440,
	desk: 1560,
	deskB: 1680
);


// COLORS
$black: #000;
$lBlack: #292929;
$gray: #707070;
$lGray: #c3d0d8;
$lGray2: #c2cfd7;
$xlGray: #f6f6f6;
$white: #FFF;
$red: #FF0000;
$pink: #ff5672;

$brandMain: $pink;


// ALERTS
$success: #219c3e;
$warning: #d66519;
$error: $red;
$information: #2476ce;


// WIDTH
$widthLimitM: 1640px;
$widthLimit: 1240px;


// FORMS
$wrong: $red;


// LOADER
$widthLoader: 80px;
$strokeLoader: $white;
$bgLoader: $brandMain;


// GLOBAL FONTS
$questrial: 'Questrial', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$fontFamily: $questrial;
$baseFont: 16;


// MODAL
$bgModal: rgba(darken($red, 20%), .35);
$maxWModal: 500px;
$minHModal: 400px;
$maxHModal: 550px;


// HAMBURGER BTN
$acSizeHam: false;
$sizeHam: 80px;
$bgHam: transparent;
$colorBarHam: $brandMain;
$widthBarHam: 24px;
$heightBarHam: 2px;
$radiusBarHam: 2px;
$spaceBar: $heightBarHam + 3px;