/* BANNER */

.banner {
    @extend %width100;
    min-height: 400px;
    height: calc(100vh - 100px);
    background: url('../img/banner/banner-2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    @include mq(deskS) {
        height: calc(100vh - 80px);
    }
    &::before {
        display: block;
        content: "";
        width: 100%;
        height: inherit;
        min-height: inherit;
        background: rgba($brandMain, .8);
        position: absolute;
        @extend %centerPos;
    }
    &__container {
        @include flex;
        @extend %widthLimit;
        min-height: inherit;
        height: inherit;
        position: relative;
        z-index: +1;
    }
    &__title {
        width: 100%;
        font-family: $montserrat;
        font-weight: 700;
        font-size: toRem(40);
        letter-spacing: 7px;
        text-align: center;
        color: $white;
        @include mq(mob){
            font-size: toRem(34);
        }
        @include mq(mobS2){
            font-size: toRem(28);
        }
    }
    &__desc {
        width: 100%;
        text-align: center;
        color: $white;
        letter-spacing: 2px;
        line-height: 1.3;
    }
}