/* BOXES */


// WAVES
.waves {
    user-select: none;
    overflow: hidden;
}

.wave {
    display: block;
    border-radius: 50%;
    background: rgba($lBlack,.25);
    position: absolute;
    opacity: 1;
    transform: scale(0);
    pointer-events: none;
    @include transition($time:1, $timing: ease-out);
}


// GALLERY
.gallery {
    @include flex;
    @extend %widthLimit;
    &__order {
        @include flex;
        @extend %width100;
        padding: 10px 0;
        @include mq(mob) {
            padding: 10px 0 0;
        }
        @include mq(mobS2) {
            display: none;
        }
        &__btn {
            @include flex($d: inline-flex);
            padding: 7px;
            margin: 5px;
            &.active, &.hover {
                .gallery {
                    &__order {
                        &__btnIcon {
                            background: $brandMain;
                        }
                    }
                }
            }
            &--row {
                .gallery {
                    &__order {
                        &__btnIcon {
                            &::before {
                                height: 4px;
                            }
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &__btnIcon {
            display: block;
            width: 14px;
            height: 14px;
            background: $gray;
            position: relative;
            @include transition;
            cursor: pointer;
            &::before, &::after {
                content: "";
                background: $white;
                width: 100%;
                height: 2px;
                position: absolute;
                @extend %centerPos;
                @include transition;
            }
            &::after {
                width: 2px;
                height: 100%;
            }
        }
    }
    &__nav {
        @extend %width100;
    }
    &__container { 
        @extend %widthLimit;
        width: calc(100% + 30px);
        margin-right: -30px;
        @include mq(lapS2) {
            width: calc(100% + 20px);
            margin-right: -20px;
        }
    }
    &__item {
        display: block;
        width: calc((100% / 3) - 30px);
        padding: 10px;
        background: $xlGray;
        margin-right: 30px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        z-index: +1;
        @include mq(lapS2) {
            width: calc((100% / 3) - 20px);
            margin-right: 20px;
            margin-bottom: 20px;
        }
        @include mq(mob) {
            width: calc((100% / 2) - 20px);
        }
        @include mq(mobS2) {
            width: calc(100% - 20px);
        }
        &.w100 {
            width: calc(100% - 30px);
            @include mq(mob) {
                width: calc(100% - 20px);
            }
        }
        &__bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            @extend %centerPos;
            pointer-events: none;
            overflow: hidden;
            transform: scale(1.05);
            @include transition;
            z-index: -1;
        }
        &__content {
            @include flex;
            width: 100%;
            padding: 10px;
            background: $brandMain;
            opacity: 0;
            pointer-events: none;
            @include transition($time: .5);
            transform: scale(.94);
            z-index: +1;
            $itemsHeight: 300, 230, 520, 455, 580, 250, 655, 280, 460, 240;
            @for $i from 1 through length($itemsHeight) {
                .gallery__item:nth-of-type(10n + #{$i}) & {
                    min-height: #{nth($itemsHeight, $i) + px};
                }
            }
            .gallery__item.w100  & {
                min-height: 300px;
            }
            @include mq(mob){
                pointer-events: all;
                transform: scale(1);
                opacity: .75;
                .gallery__item:nth-of-type(n) & {
                    min-height: 350px;
                }
            }
        }
        &__divider {
            display: block;
            @extend %width100;
            max-width: 280px;
            height: 1px;
            border: none;
            margin-top: 22px;
            margin-bottom: 22px;
            background: $white;
        }
        &__title {
            width: 100%;
            font-family: $montserrat;
            font-size: toRem(18);
            font-weight: 700;
            letter-spacing: 5px;
            color: $white;
            text-align: center;
            text-transform: uppercase;
        }
        &__categories {
            width: 100%;
            font-size: toRem(20);
            letter-spacing: 2px;
            color: $white;
            text-align: center;
        }
        &:hover {
            .gallery {
                &__item {
                    &__bg {
                        transform: scale(1);
                    }
                    &__content {
                        transform: scale(1);
                        opacity: .9;
                        pointer-events: all;
                        @include mq(mob){
                            opacity: .75;
                        }
                    }
                }
            }
        }
    }
}


// SOCIAL
.social {
    @include flex;
    &__item {
        display: block;
        padding: 8px;
        &__icon {
            @include flex;
            width: 15px;
            height: 15px;
            &Path {
                fill: $lGray2;
                fill-rule: evenodd;
                @include transition;
                .social__item:hover & {
                    fill: $brandMain;
                }
            }
        }
    }
}