/* HAMBURGER BUTTON */

.hamburgerBtn {
	display: none;
	width: $widthBarHam + 8;
	height: $widthBarHam + 8;
	@if $acSizeHam {
		width: $sizeHam;
		height: $sizeHam;
	}
	background: $bgHam;
	position: relative;
	overflow: hidden;
	z-index: +12;
	@include mq(mob){
		@include flex;
		margin-left: auto;
	}
	&__line {
		display: block;
		width: $widthBarHam;
		@if $acSizeHam {
			width: 90%;
		}
		height: $heightBarHam;
		background: $colorBarHam;
		@if $radiusBarHam {
			border-radius: $radiusBarHam;
		}
		@include transition;
		overflow: hidden;
		&:first-of-type {
			transform: translateY((-$spaceBar));
		}
		&:last-of-type {
			transform: translateY($spaceBar);
		}
	}
	&.active {
		.hamburgerBtn__line {
			&:first-of-type {
				transform: translateY($heightBarHam) rotate(-45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: translateY((-$heightBarHam)) rotate(45deg);
				transition-delay: .1s;
			}
		}
	}
}

/* BUTTONS */
.btn {
	@include flex($fw: nowrap, $d:inline-flex);
	min-width: 170px;
	min-height: 35px;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 7px 10px;
	outline: none;
	background: $brandMain;
	text-align: center;
	font-size: toRem(13);
	letter-spacing: 2px,;
	color: $white;
	cursor: pointer;
	@include transition;
	.modal--search & {
		height: 45px;
		@include mq(mob) {
			height: 35px;
		}
	}
	&:hover {
		border-color: $brandMain;
		background: $white;
		color: $brandMain;
	}
	.banner & {
		min-height: 40px;
		font-size: toRem(11);
		background: $white;
		color: $brandMain;
		&:hover {
			border-color: $white;
			background: transparent;
			color: $white;
		}
	}
}