/* FORMS */
.form {
	width: 100%;
	&__box {
		width: 100%;
		// padding: 10px 10px 20px;
		padding: 10px;
		margin-bottom: 10px;
		&--placeholder {
			position: relative;
			.form__label {
				position: absolute;
				top: 42px;
				left: 20px;
				pointer-events: none;
			}
			.form__input {
				margin-top: 20px;
				&:focus {
					& ~ .form__label {
						top: 10px;
						left: 10px;
						pointer-events: all;
					}
				}
			}
			&.pause {
				.form__label {
					top: 10px;
					left: 10px;
					pointer-events: all;
				}
			}
		}
	}
	&__group {
		width: 100%;
		&--search {
			@include flex($fw: nowrap);
			@include mq(mob) {
				@include flex;
			}
			.form {
				&__box {
					padding: 0;
					&:first-of-type {
						width: 70%;
						@include mq(mob) {
							width: 100%;
						}
					}
					&:last-of-type {
						width: 30%;
						@include mq(mob) {
							width: 100%;
						}
					}
				}
			}
		}
	}
	&__label {
		@include transition;
		&--checkbox {
			@include flex(flex-start);
			width: 100%;
			padding-left: 20px;
			position: relative;
			&::before {
				@include flex;
				// content: "✓";
				content: "✔";
				width: 15px;
				height: 15px;
				border: 1px solid rgba($black,.2);
				border-radius: 2px;
				background: $white;
				font-size: toRem(12);
				color: transparent;
				line-height: 1;
				position: absolute;
				top: 1px;
				left: 0;
				@include transition;
			}
		}
		&--radio {
			@include flex(flex-start);
			width: 100%;
			padding-left: 20px;
			position: relative;
			&::before {
				@include flex;
				content: "";
				width: 15px;
				height: 15px;
				border: 1px solid rgba($black,.2);
				border-radius: 50%;
				background: $white;
				position: absolute;
				top: 1px;
				left: 0;
				@include transition;
			}
			&::after {
				@include flex;
				content: "";
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: $white;
				position: absolute;
				top: 5px;
				left: 4px;
				transform: scale(0);
				@include transition;
			}
		}
	}
	&__input {
		width: 100%;
		height: 35px;
		padding: 10px;
		// border: 1px solid rgba($black,.5);
		border: 1px solid $gray;
		font-family: $fontFamily;
		font-size: toRem(16);
		color: $gray;
		@include transition;
		@include placeholder {
			font-family: $fontFamily;
			color: $gray;
		}
		&.wrong {
			border-color: $wrong;
			color: $wrong;
		}
		.modal--search & {
			height: 45px;
			border-right: 0;
			@include mq(mob) {
				height: 35px;
				margin-bottom: 10px;
				border-right: 1px solid $gray;
			}
		}
	}
	&__checkbox {
		@extend %hideCheckbox;
		&:checked ~ .form__label--checkbox::before {
			color: $black;
		}
	}
	&__radio {
		@extend %hideCheckbox;
		&:checked ~ .form__label--radio::after {
			background: $black;
			transform: scale(1);
		}
	}
}