/* MODAL */

.modal {
	@include flex;
	width: 100vw;
	height: 100vh;
	background: $bgModal;
	position: fixed;
	top: 0;
	left: 0;
	@include transition;
	z-index: 3000;
	&__container {
		@include flex;
		width: 100%;
		max-width: $maxWModal;
		height: auto;
		min-height: $minHModal;
		max-height: $maxHModal;
		padding: 10px;
		padding-top: 40px;
		font-size: toRem(15);
		text-align: center;
		background: $white;
		position: relative;
	}
	&__content {
		height: 400px;
		overflow-y: auto;
	}
	&__title {
		width: 100%;
	}
	&__close {
		@include flex;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		&::before {
			content: "×";
			font-size: toRem(45);
			color: $pink;
		}
	}
	&--search {
		width: 100%;
		.modal {
			&__container {
				max-width: calc(100% - 60px);
				height: 100vh;
				max-height: calc(100vh - 60px);
				padding: 20px;
				@include mq(mob) {
					height: auto;
					max-width: calc(100% - 40px);
					max-height: calc(100vh - 40px);
				}
			}
			&__content {
				@include flex;
				width: 100%;
				max-width: 600px;
			}
			&__close {
				top: 20px;
				right: 20px;
			}
			&__title {
				width: 100%;
				font-family: $montserrat;
				// font-weight: 700;
				font-size: toRem(40);
				letter-spacing: 7px;
				text-align: center;
				text-transform: uppercase;
				color: $pink;
				@include mq(mob){
					font-size: toRem(34);
				}
				@include mq(mobS2){
					font-size: toRem(28);
				}
			}
		}
	}
}